body {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: white;
    font-size: 1.5vmax;
    font-weight: 600;
}

h1, h2, a:hover{
    color: blue;
}

a {
    color: deepskyblue;
    text-decoration: none;
}

select, input, button {
    font-size: 0.8em;
    margin-bottom: 1vh;
    border-color: blue;
    border-width: 2px;
    border-radius: 8px;
    background-image: linear-gradient(145deg, #e9e9ed, #98e2ff);
}

input:invalid + .validacao::after {
    content: "Valor inválido!";
    color: firebrick; 
    position: absolute;
    margin-left: 5px;
}

a:hover {
    text-decoration: underline;
}